{% load static %}
<footer class="footer-area">
<div class="footer-top pt-240 pb-55">
<div class="container">
<div class="row justify-content-between">
<div class="col-xl-3 col-lg-7 col-md-7 col-sm-12">
<div class="footer-widget mb-40">
<div class="footer-logo">
<a href="/"><img alt="" src="{% static 'assets/img/logo/logo1.png' %}" width="123px"/></a>
</div>
<p class="footer-widget-text mb-35">
                                Through a combination of lectures, readings, discussions, students will gain solid foundation in educational.
                            </p>
<div class="footer-social">
<ul>
<li><a href="https://wa.me/+971562579164?"><i class="fa-brands fa-whatsapp"></i></a></li>
<li><a href="www.facebook.com/zamzamonlineacademy"><i class="fa-brands fa-facebook-f"></i></a></li>
<li><a href="www.Instagram.com/zamzamacademy_ae"><i class="fa-brands fa-instagram"></i></a></li>
</ul>
</div>
</div>
</div>

<div class="col-xl-4 col-lg-7 col-md-7 col-sm-12 order-md-3 order-xl-4">
<div class="footer-widget ml-80 mb-40">
<h5 class="footer-widget-title">Privacy</h5>
<form action="#">
<div class="footer-subscribe-form">
<div class="footer-subscribe-condition">
<label class="condition_label">I agree to the terms of use and privacy policy.
                                            <input type="checkbox"/>
<span class="check_mark"></span>
</label>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
<div class="copyright-area">
<div class="container">
<div class="row">
<div class="col-12">
<div class="copyright-text">
<p>Copyright © 2023 All Rights Reserved by ZamZam Academy</p>
</div>
</div>
</div>
</div>
</div>
</footer>
<!-- footer area end -->
<!-- JS here -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" integrity="sha512-uKQ39gEGiyUJl4AI6L+ekBdGKpGw4xJ55+xyJG7YFlJokPNYegn9KwQ3P8A7aFQAUtUsAQHep+d/lrGqrbPIDQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.meanmenu.min.js' %}"></script>
<script src="{% static 'assets/js/wow.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.scrollUp.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'assets/js/odometer.min.js' %}"></script>
<script src="{% static 'assets/js/appear.min.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>
